<section id='confirmed'>
  <div class="confirmed-body">
    <i class='sprite confirmed'></i>
    <h2>Registration confirmed!</h2>
    <p>We're working hard to get the best offers for your members, as soon as we're ready you'll be notified.</p>
    <%= link_to 'Go back', root_url %>
  </div>
</section>
