<section id='confirmed'>
  <div class="confirmed-body">
    <i class='sprite confirmed'></i>
    <h2>You are unsubscribed!</h2>
    <p>You are now unsubscribed and will receive no further communication from us</p>
    <%= link_to 'Go back', root_url %>
  </div>
</section>
