#offer {
  p {
    margin-top: 5px;
  }

  h2, p {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 600px) {
  #offer {
    h2, p {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
